/*搜索按钮*/
.search{
    width:40px;
    height:40px;
    background:red;
    position: absolute;
    left:8px;
    top:9px;
    z-index:10;
    border-radius: 50%;
    background-color: rgba(0,0,0,.3);
    text-align: center;
    line-height: 48px;
}
.search i{
    font-size: 24px;
    color:#eee;
}

/*顶部第一个轮播*/
 .topBanner,.swiper-wrapper,.swiper-slide{
    width:100%;
    height:300px;
    display: flex;
}
.topBanner .TopBanner img{
    width:100%;
    height:300px;
}

/*固定内容区*/
.secTitlewrap{
    width:100%;
    height:60px;
    overflow: hidden;
    display:flex;
    align-items: center; 
}
.secTitle{
    width:95%;
    height:30px;
    margin:30px 0 15px 10px;
    border-left:2px solid #000;
}
.secTitle .secLeft{
    width:100%;
    height:100%;
    float:left;
}
.secTitle .secLeft p{
    margin-left:4px;
    color:  #515151;
    font-weight: 600;
}
.secTitle .secRight p{
    float:right;
    margin-top:-23px;
    margin-right:8px;
    font-weight: 700;
}

/*品牌轮播图*/
.center_banneswiper-container center_bannerr{
    width:100%;
    height:447px;

   
  
}
.center_banner .oneSwiper-slide{
    width:100%;
    height:447px;
    display: flex;
    flex-wrap: wrap; /*就他妈少这句话*/    
}
.center_banner .oneSwiper-slide .centerbanner{
    width:33.3%;
    padding: 0 1.5%;  
}
.center_banner .oneSwiper-slide .centerbanner img {
    width:100%;
    border-radius: 10%;    
}

/*//滚动*/
#root,#root>div{
    height: 100%;
    overflow-y: scroll;
    padding-bottom:1rem;
}

.scrollwrap{
    position: relative;
    height:100%; 
}
.scrollwrap>.content{
    padding-bottom:1rem;
   
}
/*
猜你喜欢*/
.guess{
    width:100%;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guess p{
    font-size: 18px;
    font-weight: bold;
}
.guesslist{
    width:100%;
    padding:2%;
    min-height:300px;
    
}
.guesslistcon{
    width:176px;
    height:223px;
   
    float: left;
    margin-right: 4px;
    margin-bottom: 20px;
}
.guesslistcon img {
    width:100%;
    height: 176px;
}
.guesslistcon .guessPrice{
    margin-top:4px;
    width:176px;
    height:21px;
    font-size: 16px;
    color:#222;
}
.guesslistcon .guessName{
    width:176px;
    height:14px;
}
.guesslistcon .guessDec{
    width:176px;
    height:39px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888;
}

/*/*回到顶部*/
/*.GoTop{
    position: fixed;
    right:0;
    bottom:0;
    width:40px;
    height:40px;
    background:red;
}*/




